
@mixin body($cp,$cs){
    body *{
        &.dark{
            background-color: $cp;
            color:$cs;
        }
        &.light{
            background-color: $cs;
            color:$cp;
        }
    }
}